// big
@media only screen and (max-width: 1200px) {
  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 30%;
    }
  }
  #side-view {
    display: none;
  }
}
/// comment //extra
// Extra small devices (phones, 800px and down) _/
@media only screen and (max-width: 800px) {
  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 calc(50% - 2em);
    }
  }
  #side-view {
    display: none;
  }
}

// small screens

@media only screen and (max-width: 600px) {
  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 100%;
    }
  }
  #side-view {
    display: none;
  }
}
