//// NEW CODE //////

// big
@media only screen and (max-width: 1200px) {
  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 30%;
    }
  }
  #side-view {
    display: none;
  }

  .price-expanded {
    max-width: 50vw;
  }
}
/// comment
// Extra small devices (phones, 800px and down) _/
@media only screen and (max-width: 900px) {
  body main .hero h1 {
    text-align: center;
  }
  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 calc(50% - 2em);
    }
  }
  #side-view {
    display: none;
  }
  .price-expanded {
    max-width: 100vw;
  }
  .desktop-buttons > span:first-of-type {
    display: none;
  }
}

// small screens

@media only screen and (max-width: 600px) {
  body main .hero h1 {
    font-size: 3em;
    text-align: center;
  }

  .search-bar input {
    width: 70vw;
    height: 3rem;
  }

  .card-container {
    width: 100%;

    flex: 1 1 100%;

    .card {
      flex: 1 1 100%;
    }
  }
  #side-view {
    display: none;
  }
  .desktop-buttons span,
  .desktop-buttons h2 {
    display: none;
  }
}
