* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// root
:root {
  --font-fraunces: 'Fraunces', serif;
  --font-libre: 'Libre Franklin', sans-serif;
}

$sans-serif: 'Libre Franklin';
$serif: 'Fraunces';
$bg-light: #ffefdb;
$title-light: #742b26;
$text-light: #81756e;
$card-light: #ffcc00;

$offwhite: #ffefdb;

$bg-dark: #81756e;
$title-dark: #ffefdb;
$text-dark: #81756e;
$card-dark: #4e2c1c;

html {
  font : {
    family: $serif;
  }
}

p {
  font : {
    family: $sans-serif;
  }
}

header {
  padding: 1em;
  font-size: 1.6em;
  nav {
    display: flex;
    justify-content: space-between;
    color: $title-light;
    div {
      display: flex;
      font-size: 1.6rem;

      span,
      h2 {
        font-size: 1.2rem;
      }
      button {
        border: none;
        padding: 0 0.6rem;
        border-radius: 10px;
        background: $bg-dark;
        font-size: 0.8rem;
      }
    }
    .price-expanded {
      display: none;
    }
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
body {
  background: $bg-light;
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .hero {
      h1 {
        font-size: 2em;
        text-transform: capitalize !important;
        padding: 2em 0;
      }
    }
  }
}

li {
  list-style-type: none;
}

.categories {
  flex: 1 1 100%;
  width: 100%;
  padding: 2em 0;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    li {
      color: $offwhite;
      padding: 0.4em;
      background: $bg-dark;
      border-radius: 10px;
    }
  }
}

.search-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 100%;
  width: 100%;
  padding: 0 0 1em 0;
}
.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 calc(60% - 4em);
  border: 1px dotted black;
  padding: 1em;
  gap: 1em;

  .card {
    flex: 1 1 calc(50% - 4em);
    background: $card-light;
    border-radius: 10px;
    height: auto;
    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
    .top-card {
      display: flex;
      flex-flow: column-reverse;
      .left {
        h3 {
          font-size: 1.8em;
          text-align: center;
          line-height: 1.2em;
          height: 3em;
          color: $title-light;
        }
      }
      .right {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        button {
          font: {
            size: 1.2em;
          }
          height: 3em;
          width: 3em;
          padding: 0.2em;
          background: $title-light;
          color: $offwhite;
          border-radius: 10px;
          border: none;

          cursor: pointer;
          &:hover {
            background: none;
            border: 2px solid $title-light;
            color: $title-light;
          }
        }
        ul li {
          border: none;
          padding: 0.4em 1em;
          border-radius: 10px;
          background: $bg-dark;
          color: $offwhite;
        }
      }
    }
  }
}
.card-expander {
  width: 100%;
  flex: 1 1 calc(40% - 4em);
}

// import mediaqueries
@import 'mediaqueries';
@import 'oanastyle';
