:root {
  --font-fraunces: 'Fraunces', serif;
  --font-libre: 'Libre Franklin', sans-serif;
}

$sans-serif: 'Libre Franklin';
$serif: 'Fraunces';
$bg-light: #ffefdb;
$title-light: #742b26;
$text-light: #81756e;
$card-light: #ffcc00;

$offwhite: #ffefdb;

$bg-dark: #81756e;
$title-darkt: #ffefdb;
$text-dark: #81756e;
$card-dark: #4e2c1c;

html {
  font : {
    family: $serif;
  }
}

p {
  font : {
    family: $sans-serif;
  }
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
    }
    .price-expanded {
      display: none;
    }
  }
}
body {
  background: $bg-light;
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}

li {
  list-style-type: none;
}

.search-bar {
  flex: 1 1 100%;
  width: 100%;
}
.card-container {
  width: 100%;
  border: 1px dotted black;
  .card {
    background: $card-light;
    border-radius: 10px;
  }
}
