* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// root
:root {
  --font-fraunces: 'Fraunces', serif;
  --font-libre: 'Libre Franklin', sans-serif;
}

$sans-serif: 'Libre Franklin';
$serif: 'Fraunces';
$bg-light: #ffefdb;
$title-light: #742b26;
$text-light: #81756e;
$card-light: #ffcc00;

$offwhite: #ffefdb;

$bg-dark: #81756e;
$title-dark: #ffefdb;
$text-dark: #81756e;
$card-dark: #4e2c1c;

@mixin cat-button {
  font-family: $serif;
  color: $offwhite;
  padding: 0.4em;
  font-size: 0.8rem;
  background: $title-light;
  border: none;
  border-radius: 10px;
  opacity: 0.9;
  cursor: pointer;
}

html {
  font : {
    family: $serif;
  }
}
body {
  background: -webkit-linear-gradient(
    0deg,
    rgb(255, 242, 188),
    rgb(255, 226, 190)
  );
  background: linear-gradient(0deg, rgb(255, 242, 188), rgb(255, 226, 190));
}

p {
  font : {
    family: $sans-serif;
  }
}

header {
  padding: 1em;
  font-size: 1.6em;
  nav {
    display: flex;
    justify-content: space-between;
    color: $title-light;
    div {
      display: flex;
      font-size: 1.6rem;
      align-items: flex-start;

      span,
      h2 {
        font-size: 1.2rem;
        padding-left: 0.4em;
      }
      button {
        @include cat-button();
      }
    }
  }
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
body {
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .hero {
      h1 {
        font-size: 4rem;
        text-align: center;
        color: $title-light;
        text-transform: capitalize;
        opacity: 0.9;
        padding: 1rem 0;
      }
    }
  }
}

li {
  list-style-type: none;
}

.categories {
  flex: 1 1 100%;
  width: 100%;
  padding: 2em 0;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    li button {
      @include cat-button();
    }
  }
}

.search-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  flex: 1 1 100%;
  width: 100%;
  color: $title-light;
  input {
    @include cat-button();
    padding: 0.4em 2em;
    opacity: 0.4;
  }
  i {
    padding: 0.3em;
    cursor: pointer;
  }
}
.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 calc(50% - 4em);
  padding: 1em;
  gap: 1em;

  .card {
    flex: 1 1 calc(50% - 4em);
    // background: $card-light;

    -webkit-box-shadow: 10px 10px 35px -22px rgba(116, 43, 38, 1);
    -moz-box-shadow: 10px 10px 35px -22px rgba(116, 43, 38, 1);
    box-shadow: 10px 10px 35px -22px rgba(116, 43, 38, 1);
    background: rgba(255, 255, 255, 0.25);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    height: auto;
    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;

    p {
      font-family: $serif;
      padding: 0 0.2em;
      color: $title-light;
      opacity: 0.8;
      text-align: center;
    }
    .top-card {
      display: flex;
      flex-flow: column-reverse;
      .left {
        h3 {
          font-size: 1.8em;
          text-align: center;
          line-height: 1.2em;
          height: 3em;
          color: $title-light;
        }
      }
      .right {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .price-item::before {
          content: '€';
        }
        button {
          font: {
            size: 1em;
          }
          height: max-content;
          width: max-content;
          padding: 0.4em;
          background: transparent;
          color: $title-light;
          border-radius: 50%;
          border: none;
          font-family: $serif;
          cursor: pointer;

          &:hover {
            background: none;
            border-bottom: 2px solid $title-light;
            color: $title-light;
          }
        }
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          justify-content: space-evenly;
          align-items: center;
          li {
            border: none;
            padding: 0.4em 1em;
            border-radius: 10px;
            background: $bg-dark;
            color: $offwhite;
            max-width: 50%;
            li {
              border: 1px solid $offwhite;
              padding: 0.2em 0.4em;
              margin: 0.2em;
              border-radius: 10px;

              color: $offwhite;
              align-self: start;
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

.cat-rating {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1em;
  align-content: center;
  ul {
    display: flex;
    flex-flow: row wrap;
    li {
      margin-right: 0.2em;

      @include cat-button();
      opacity: 0.9;
    }
  }
  span {
    color: $title-light;
    opacity: 0.9;
  }
}
.card-expander {
  width: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#side-view {
  position: sticky;
  top: 0;
  width: 100%;

  img {
    max-width: 50vw;
    height: auto;
    width: 100%;
    max-width: 50vw;
    height: auto;
    max-height: calc(100vh - 6rem);
    object-fit: cover;
    padding: 1em 3em 3em 3em;
    border-radius: 10px;
  }
  .big-description {
    font-size: 1.8em;
    line-height: 1em;
    padding: 0.4em 2em;
    color: $title-light;
    font-family: $serif;
    text-align: center;
  }
}

.cathegories {
  align-self: start;
}
.fa-cart-shopping {
  padding: 0 2rem;
}
.price-expanded {
  display: none;
  flex-flow: column wrap;
  position: absolute;
  padding: 1rem 2em;
  margin: 0;
  top: 0;
  right: 0;
  min-width: 200px;
  width: 50vw;
  max-width: 400px;
  height: 100vh;
  background: $card-light;
  border-radius: 10px;
  z-index: 9000;
  h3 {
    font-size: 1.6em;
  }
  ul {
    padding: 2em 0;
    li {
      .price-item {
        padding: 2em 2em;
      }
    }
  }
}
// import mediaqueries
@import 'mediaqueries';
@import 'oanastyle';
