* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-fraunces: "Fraunces", serif;
  --font-libre: "Libre Franklin", sans-serif;
}

html {
  font-family: "Fraunces";
}

p {
  font-family: "Libre Franklin";
}

header {
  padding: 1em;
  font-size: 1.6em;
}
header nav {
  display: flex;
  justify-content: space-between;
  color: #742b26;
}
header nav div {
  display: flex;
  font-size: 1.6rem;
}
header nav div span,
header nav div h2 {
  font-size: 1.2rem;
}
header nav div button {
  border: none;
  padding: 0 0.6rem;
  border-radius: 10px;
  background: #81756e;
  font-size: 0.8rem;
}
header nav .price-expanded {
  display: none;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body {
  background: #ffefdb;
}
body main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body main .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body main .hero h1 {
  font-size: 3em;
  text-transform: capitalize !important;
  padding: 1rem 0;
}

li {
  list-style-type: none;
}

.categories {
  flex: 1 1 100%;
  width: 100%;
  padding: 2em 0;
}
.categories ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
.categories ul li {
  color: #ffefdb;
  padding: 0.4em;
  background: #81756e;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 100%;
  width: 100%;
  padding: 0 0 1em 0;
}

.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 calc(60% - 4em);
  padding: 1em;
  gap: 1em;
}
.card-container .card {
  flex: 1 1 calc(50% - 4em);
  background: #ffcc00;
  border-radius: 10px;
  height: auto;
  padding: 1em;
  display: flex;
  flex-flow: column;
  gap: 1em;
}
.card-container .card .top-card {
  display: flex;
  flex-flow: column-reverse;
}
.card-container .card .top-card .left h3 {
  font-size: 1.8em;
  text-align: center;
  line-height: 1.2em;
  height: 3em;
  color: #742b26;
}
.card-container .card .top-card .right {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card-container .card .top-card .right button {
  font-size: 1.2em;
  height: 3em;
  width: 3em;
  padding: 0.2em;
  background: #742b26;
  color: #ffefdb;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.card-container .card .top-card .right button:hover {
  background: none;
  border: 2px solid #742b26;
  color: #742b26;
}
.card-container .card .top-card .right ul li {
  border: none;
  padding: 0.4em 1em;
  border-radius: 10px;
  background: #81756e;
  color: #ffefdb;
}

.card-expander {
  width: 100%;
  flex: 1 1 calc(40% - 4em);
}

#side-view {
  padding: 1em;
  position: fixed;
  margin-top: -3rem;
}
#side-view .big-description {
  font-family: "Fraunces";
  font-size: 1.2rem;
  color: #742b26;
  text-align: center;
  padding: 1em;
}
#side-view img {
  margin: 1em;
  width: calc(100% - 2em);
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .card-container {
    width: 100%;
    flex: 1 1 100%;
  }
  .card-container .card {
    flex: 1 1 100%;
  }
  #side-view {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .card-container {
    width: 100%;
    flex: 1 1 100%;
  }
  .card-container .card {
    flex: 1 1 30%;
  }
  #side-view {
    display: none;
  }
}

/* Dark Theme */
:root {
  --font-fraunces: "Fraunces", serif;
  --font-libre: "Libre Franklin", sans-serif;
}

.dark-theme {
  background-color: #81756e;
  color: #ffefdb;
}
.dark-theme #toggle-mode {
  background-color: #ffefdb;
  color: #81756e;
}
.dark-theme .card {
  background-color: #4e2c1c;
  color: #ffefdb;
}
.dark-theme h1 {
  color: #ffefdb;
}
.dark-theme .card-container .card .top-card .left h3 {
  color: #ffefdb;
}/*# sourceMappingURL=style.css.map */